<header class="navbar">
  <div class="brand">Pkcg Playground</div>
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/native-quill" routerLinkActive="active">Native Quill</a>
    <a routerLink="/ngx-quill" routerLinkActive="active">Ngx Quill</a>
    <a routerLink="/design-tokens" routerLinkActive="active">Tokens</a>
  </nav>
  <button (click)="toggleTheme()" class="theme-toggle">
    {{ isDark ? "Light" : "Dark" }} Mode
  </button>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>
